@model IPagedList<RestaurantListViewModel>
@{
	ViewBag.Title = "Home Page";
}
<div style="clear:both;height:50px;"></div>
<form method="get" action="@Url.Action("Index")" data-otf-ajax="true" data-otf-target="#restaurantList">
		<input type="search" name="searchTerm" data-otf-autocomplete="@Url.Action("AutoComplete")"/>
		<input type="submit" value="Search by Name" />
	</form>

@*@using (Ajax.BeginForm(
	new AjaxOptions
	{
		HttpMethod = "get",
		InsertionMode = InsertionMode.Replace,
		UpdateTargetId = "restaurantList"
	}))
{
	<input type="search" name="searchTerm" />
	<input type="submit" value="Search by Name" />
}*@
<div id="searching">Searching...</div>
@Html.Partial("_Restaurants", Model)


